<h1>{{title}}</h1>
<h2>«Patience is a key element of success»</h2>
<ul>
    <li>If you think your teacher is tough, wait till you get a boss</li>
    <li>Life is not fair — get used to it!</li>
    <li>Success is a lousy teacher. It seduces smart people into thinking they can’t lose</li>
    <li>Be nice to nerds. Chances are you’ll end up working for one</li>
</ul>
<div class="info">
    <img src="{{ imgSrc }}" alt=""> 
    <div class="info-text">
        <p><span>Билл Гейтс</span> - американский предприниматель и общественный деятель, филантроп, один из создателей (совместно с Полом Алленом) и бывший крупнейший акционер компании Microsoft. До июня 2008 года являлся руководителем компании, после ухода с поста остался в должности её неисполнительного председателя совета директоров. Также является сопредседателем благотворительного Фонда Билла и Мелинды Гейтс, членом совета директоров Berkshire Hathaway, генеральным директором Cascade investment.</p>
    </div>
</div>
<div class="links">
    <ul>
        <li><a href="{{url1}}">Wikipedia</a></li>
        <li><a href="{{url2}}">Gates Foundation</a></li>
        <li><a href="{{url3}}">Gates Notes</a></li>
        <li><a href="{{url4}}">Gates Twitter</a></li>
    </ul>
</div>
